In [56]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import r2_score
import pandas as pd
import tensorflow as tf
from pathlib import Path
# Import our input dataset
file_path = Path("./Resources/housing_data.csv")
df_house = pd.read_csv(file_path)

In [57]:
df_house.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7229300521,20141013T000000,231300,2,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [58]:

# Define features set
feature_list = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'condition', 'grade', 'yr_built' , 'zipcode', 'lat', 'long']
X  = df_house.copy()[feature_list]
X.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,condition,grade,yr_built,zipcode,lat,long
0,2,1.00,1180,5650,3,7,1955,98178,47.5112,-122.257
1,3,2.25,2570,7242,3,7,1951,98125,47.7210,-122.319
2,2,1.00,770,10000,3,6,1933,98028,47.7379,-122.233
3,4,3.00,1960,5000,5,7,1965,98136,47.5208,-122.393
4,3,2.00,1680,8080,3,8,1987,98074,47.6168,-122.045

In [59]:
# Split our preprocessed data into our features and target arrays
y = df_house["price"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [60]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [75]:
# Define the model - deep neural net
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=64, activation="relu", input_dim=X_train.shape[1]))
nn_model.add(tf.keras.layers.Dense(units=32, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="linear"))

nn_model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.2),
    loss='mean_squared_error')
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss = nn_model.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}")

c:\Users\chinr\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 110084661248.0000
Epoch 2/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 38700068864.0000
Epoch 3/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 36974489600.0000
Epoch 4/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 39849517056.0000
Epoch 5/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 37582041088.0000
Epoch 6/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 35926949888.0000
Epoch 7/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 36355477504.0000
Epoch 8/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 33381263360.0000
Epoch 9/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 31717804032.0000
Epoch 10/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 32673658880.0000
Epoch 11/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 30667063296.0000
Epoch 12/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 29292705792.0000
Epoch 13/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 29796481024.0000
Epoch 14/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 25821442048.0000
Epoch 15/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 26245001216.0000
Epoch 16/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 23987802112.0000
Epoch 17/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 25262426112.0000
Epoch 18/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 23733923840.0000
Epoch 19/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 23543336960.0000
Epoch 20/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 21046833152.0000
Epoch 21/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 21237055488.0000
Epoch 22/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 19867873280.0000
Epoch 23/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 20019025920.0000
Epoch 24/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 20825927680.0000
Epoch 25/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 19718346752.0000
Epoch 26/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 22741659648.0000
Epoch 27/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 19536261120.0000
Epoch 28/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 20523114496.0000
Epoch 29/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 20140716032.0000
Epoch 30/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 19049617408.0000
Epoch 31/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 18626566144.0000
Epoch 32/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 21033394176.0000
Epoch 33/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 18581106688.0000
Epoch 34/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 18932408320.0000
Epoch 35/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 18888284160.0000
Epoch 36/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 19851194368.0000
Epoch 37/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 19364587520.0000
Epoch 38/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 18191642624.0000
Epoch 39/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 18488664064.0000
Epoch 40/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 19494256640.0000
Epoch 41/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 17676652544.0000
Epoch 42/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 17785303040.0000
Epoch 43/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 18948196352.0000
Epoch 44/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 17067193344.0000
Epoch 45/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 16728511488.0000
Epoch 46/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 18256406528.0000
Epoch 47/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 17266747392.0000
Epoch 48/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 18071070720.0000
Epoch 49/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 16651846656.0000
Epoch 50/50
507/507 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 19206942720.0000
169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 983us/step - loss: 19323594752.0000
Loss: 20332179456.0

In [76]:
# Evaluate the model using the test data
y_pred = nn_model.predict(X_test_scaled)
r2 = r2_score(y_test, y_pred)
print(f'R2 Score: {r2}')

169/169 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
R2 Score: 0.8520650181215349